@page "/TiposTecnicos/Details/{TipoId:int}"
@inject TipoTecnicoService tipoTecnicoService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Detalles</PageTitle>
<div class="container">
	<div class="card shadow">
		@*header*@
		<div class="card-header color-marcos">
			<h4 class="text-white"><strong>Detalles</strong></h4>
		</div>
		@*body*@
		<div class="card-body">
			<ul>
				<li><strong class="text-naranja">Id: </strong><strong>@tiposTecnicos.TipoId</strong></li>
				<li><strong class="text-naranja">Nombre: </strong><strong>@tiposTecnicos.Descripcion</strong></li>
			</ul>
		</div>
		@*fotter*@
		<div class="card-fotter">
			<div class="card">
				<button class="btn btn-NH bi bi-arrow-return-left" @onclick="Volver"></button>
			</div>
		</div>
	</div>
</div>


@code {
	[Parameter]
	public int TipoId { get; set; }
	public TiposTecnicos? tiposTecnicos { get; set; } = new TiposTecnicos();

	protected override async Task OnInitializedAsync()
	{
		tiposTecnicos = await tipoTecnicoService.Buscar(TipoId);
	}

	public async Task Volver()
	{
		await Task.CompletedTask;
		navigationManager.NavigateTo("/TiposTecnicos/Index");
	}
}
