@page "/Tecnico/Index"
@inject TecnicoService tecnicoService
@inject ToastService toastService
@inject NavigationManager navigationManager
@rendermode InteractiveServer 

<PageTitle>Index Tecnicos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header color-marcos">
			<div class="text-center">
				<h3 class="text-white"><strong>Registro de T&eacute;cnicos</strong></h3>
			</div>
			<div class="text-end">
				<button class="btn btn-addN bi bi-person-plus-fill" @onclick="Crear" 
					style="font-size: 32px;">
				</button>
			</div>
		</div>
		<div class="card-body">
			<table class="table">
				<thead class="text-naranja">
					<tr>
						<th class="text-naranja">id</th>
						<th class="text-naranja">Nombre</th>
						<th class="text-naranja">Tipo</th>
						<th class="text-naranja">Sueldo</th>
						<th class="text-naranja">Editar</th>
						<th class="text-naranja">Ver</th>
						<th class="text-naranja">Eliminar</th>
					</tr>
				</thead>

				<tbody>
					@foreach(var tecnicos in ListaTecnico)
					{
						<tr>
							<td>@tecnicos.TecnicoId</td>
							<td>@tecnicos.Nombres</td>
							<td>@tecnicos.TiposTecnicos.Descripcion</td>
							<td>@tecnicos.SueldoHora</td>
							<td><button class="btn text-naranjaVerdeH bi bi-pencil-square" @onclick="()=> Editar(tecnicos.TecnicoId)"></button></td>
							<td><button class="btn text-naranjaAzulH bi bi-search" @onclick="()=> Detalles(tecnicos.TecnicoId)"></button></td>
							<td><button class="btn text-naranjaRojoH bi bi-trash3" @onclick="()=> Eliminar(tecnicos.TecnicoId)"></button></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@code {
	public List<Tecnicos> ListaTecnico { get; set; } = new List<Tecnicos>();

	protected override async Task OnInitializedAsync()
	{
		ListaTecnico = await tecnicoService.Listar(t => t.TecnicoId > 0);
	}

	public async Task Crear()
	{
		await Task.CompletedTask;
		navigationManager.NavigateTo("/Tecnico/Create");
	}

	public async Task Editar(int id)
	{
		await Task.CompletedTask;
		navigationManager.NavigateTo($"/Tecnico/Edit/{id}");
	}

	public async Task Detalles(int id)
	{
		await Task.CompletedTask;
		navigationManager.NavigateTo($"/Tecnico/Details/{id}");
	}

	public async Task Eliminar(int id)
	{
		await Task.CompletedTask;
		navigationManager.NavigateTo($"/Tecnico/Delete/{id}");
	}
}
