@page "/Tecnico/Ver/{TecnicoId:int}"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="tecnicos">
	<div class ="container">
		<div class="card shadow">
			@*header*@
			<div class="card-header color-marcos">
				<h4 class="text-white"><strong>Detalles</strong></h4>
			</div>
			@*body*@
			<div class="card-body">
				<ul>
					<li><strong class="text-naranja">Id: </strong><strong>@tecnicos.TecnicoId</strong></li>
					<li><strong class="text-naranja">Nombre: </strong><strong>@tecnicos.Nombres</strong></li>
					<li><strong class="text-naranja">Sueldo: </strong><strong>@tecnicos.SueldoHora</strong></li>
				</ul>
			</div>
			@*fotter*@
			<div class="card-fotter">
				<div class="card">
					<button class="btn btn-NH bi bi-arrow-return-left" @onclick="Volver"></button>
				</div>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public int TecnicoId { get; set; }
	public Tecnicos? tecnicos { get; set; } = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		tecnicos = await tecnicoService.Buscar(TecnicoId);	
	}

	public async Task Volver()
	{
		await Task.CompletedTask;
		navigationManager.NavigateTo("/Tecnico/Index");
	}
}
