@page "/Tecnico/DetailsTecnico"
@page "/Tecnico/DetailsTecnico/{TecnicoId:int}"
@inject TecnicosServices tecnicoService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<EditForm Model="tecnico">
	<class ="container">
		<class ="shadow-lg">
			@*header*@
			<class ="card-header">
				<h4><strong>Detalles</strong></h4>
			</class>
			@*body*@
			<class ="card-body">
				<ul>
					@*Id*@
					<li><strong>Id: </strong>@tecnico.TecnicoId</li>
					@*Nombres*@
					<li><strong>Nombre: </strong>@tecnico.Nombres</li>
					@*SueldoHora*@
					<li><strong>Sueldo: </strong>@tecnico.SueldoHora</li>
				</ul>
			</class>
			@*futter*@
			<class ="card-fotter">
				<button type="button" class="btn btn-naranja" @onclick="VolverIndex"> Volver</button>
			</class>
		</class>
	</class>
</EditForm>


@code {
	[Parameter]
	public int TecnicoId { get; set; }
	public Tecnicos? tecnico { get; set; } = new Tecnicos();
	private bool Clonado = false;

	protected override async Task OnInitializedAsync()
	{
		tecnico = await tecnicoService.Buscar(TecnicoId);
	}

	public void VolverIndex()
	{
		NavigationManager.NavigateTo("/Tecnico/IndexTecnico");
	}
}
